# Prerequisites
*.d

# Object fractoliles
*.o
*.ko
*.obj
*.elfractol

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug fractoliles
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfractolile.old
dkms.confractol

# Misc
main.c
temp/
.vscode/
lib/glfractolw/
.DS_Store

# Special shader fractoliles
mlx_*_shader.c
build/
main.c
test

# Automatic downloaded deps
_deps/